.posts-title{
    display: flex;
    width: 30%;
    height: 100px;
    margin-left: 2%;
    align-items: center;
    margin-top: 10%;
}
.posts-title-logo{
    width: 50px;
    width: 50px;
}
h2{
    color: #FFBD3A;
    font-size: 2vw;
    margin-left: 3%;
}

.posts{
}

.post{
    width: 80%;
    display: flex;
}

.post-image{
    width: 20vw;
    height:auto;
}

.post-cotent{
    width: 50%;
}

.post-category{
    list-style: none;
}